name: CI

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    name: "Test suite"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-14, windows-latest, ubuntu-24.04 ]
        build-type: [ Debug, Release ]
        rust:
          - nightly
    steps:
      - uses: actions/checkout@v4
        with:
            submodules: recursive
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: actions/setup-python@v5
        with:
          python-version: '>=3.11'
      - run: |
          python -m ensurepip --upgrade --default-pip
          python -m pip install -r requirements.txt
      - uses: goto-bus-stop/setup-zig@v2

      - name: Install (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build
      - name: Install (macOS)
        if: runner.os == 'macOS'
        run: brew install ninja
      - name: Install (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install ninja
          echo "CC=cl" >> $GITHUB_ENV
          echo "CXX=cl" >> $GITHUB_ENV

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - name: Configure project
        run: cmake -G Ninja -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}

      - name: Build project
        run: cmake --build build

      - name: Test project
        run: ctest --output-on-failure --test-dir build

      - name: Build project
        run: zig build

      - name: Test project
        run: zig test

  lints:
    name: Lints
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        rust:
          - nightly
    steps:
      - uses: actions/checkout@v4
        with:
            submodules: recursive
      - uses: goto-bus-stop/setup-zig@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace -- -D warnings
